.slogan-card {
  position: relative;

  width: 100%;
  min-height: 145px;

  border-radius: 10px;

  box-sizing: border-box;

  padding: 18px;

  border: 3px solid #111111;

  box-shadow: 5px 5px 0 #111111;

  overflow: hidden;

  font-family: "Space Grotesk", sans-serif;

  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
}

.slogan-card:hover {
  transform: translate(-2px, -2px);

  box-shadow: 7px 7px 0 #111111;
}


/* =========================
   COLORS
========================= */

.slogan-card.yellow {
  background: #ffd93d;
}

.slogan-card.green {
  background: #00c49a;
}

.slogan-card.blue {
  background: #4d7cfe;
}

.slogan-card.red {
  background: #ff5c5c;
}


/* =========================
   TOP
========================= */

.slogan-top {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.slogan-label {
  
  font-size: 10px;

  font-weight: 700;

  letter-spacing: 1.5px;
  text-align: center;

  background: #111111;

  color: white;

  padding: 5px 7px;
}

.slogan-icon {
  width: 28px;
  height: 28px;

  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;

  border: 2px solid #111111;

  background: white;

  font-size: 17px;

  font-weight: 700;
}


/* =========================
   SLOGAN
========================= */

.slogan-card h3 {
  position: relative;

  z-index: 2;

  margin: 17px 0 0;

  max-width: 210px;

  font-size: 19px;

  line-height: 1.5;

  font-weight: 700;

  letter-spacing: 1.5px;
}


/* =========================
   DECORATION
========================= */

.slogan-decoration {
  position: absolute;

  right: -15px;
  bottom: -20px;

  display: flex;

  gap: 5px;

  transform: rotate(-27deg);
}

.slogan-decoration span {
  display: block;

  width: 23px;
  height: 80px;

  background: #111111;
}

.slogan-decoration span:nth-child(2) {
  height: 55px;
}

.slogan-decoration span:nth-child(3) {
  height: 35px;
}